.Button {
    font-family: 'Cabin', sans-serif;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

/* .Button:first-of-type {
    margin-left: 1%;
    padding-left: 1%;
} */

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #7ba324;
    border: 2px solid #648d0a;
    border-radius: 4px;
    transition: all;
}

.Danger {
    color: #BF0426;
}

.Button:hover{
    border: 2px solid #F28907;
}