 /* Fonts */
/* font-family: 'Cabin', sans-serif;
font-family: 'Raleway', sans-serif; 
font-family: 'Abel',
sans-serif;


*/

/* Colors */
/* danger: #BF0426
 primary: #83A638
 accents: #F28907
 accents 2: #F22929
 */
*{
  box-sizing: border-box;
}
.App{
  font-family: 'Cabin', sans-serif;
  display: flex;
  flex-flow: column;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

select{
  border:none;
  margin:0;
  padding: 1%;
  appearance: none;
}