.Products{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   padding: 0;
   margin: 0;
   list-style-type: none;
   color: #93c527
}
.Products li{
    flex: 0 1 23rem;
    height: 19rem;
    padding: 1rem;
    /* border: 5px solid black; */
}

.ProductItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position:relative;
    /*width:100%; */
    /* color: rgb(46, 43, 43); */

}


.ProductItem img{
    /* max-width: 16rem; */
    max-height: 13rem;
}

.ShopBar{
    opacity: 0;
    transition: all 0.8s;

}

.ProductItem:hover .ShopBar {
    opacity: 1;
}


.ProductItem a{
    text-align: center;
}

.ProductItem p{
    margin-top: 1%;
}


.ProductPrice{
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: column;
}


